@model IEnumerable<ParqueBLL.Passaporte>

@{
    ViewBag.Title = "Orçamento";
}
<h1>Orçamento</h1>

<h4>Passaporte</h4>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NroDias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NroDias)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInicial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorTotal)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Home</a>
    <input asp-action="ConfirmaCompra" type="submit" value="Confirmar Compra" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
