@model IEnumerable<ParqueBLL.Passaporte>

@{
    ViewData["Title"] = "ConfirmaCompra";
}

<h1>Compra Confirmada</h1>

<h4>Aqui estão os dados do seu Passaporte:</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="Index">
            <table class="table">
                <thead float: center>
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.ID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NomeCliente)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NroDias)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DataInicial)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ValorTotal)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr float: rigth>

                        <td>
                            @Html.DisplayFor(modelItem => item.ID   )
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NroDias)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataInicial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ValorTotal)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" value="Voltar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
